* { margin: 0; padding: 0;}

body {
	background: #edeae1;
	color: #6e6b5f;
	/*
	background: #888;
	*/
	margin: 0;
	padding: 0;
	text-align: center;
	display: block;
	font: 300 100.01% "Helvetica Neue",Helvetica,"Arial Unicode MS",Arial,sans-serif;
}

#container {
	width: 700px;
	margin: 0 auto;
	padding: 0;
}

#header {
	height: 100px;
	width: 700px;
	margin: 0;
	padding: .5em 32px 0;
	display: block;
	text-align: center;
}

/* Content */
#content {
	background: #fff;
	color: #345;
	width: 700px;
	position: relative;
	margin: 0;
	text-align: left;
	padding: .5em 32px 0;
	display: block;
	border: 1px solid #eee;
	border-radius: 10;
	/*
	background: #555;
	box-shadow: 0 0 .5em #999;
	padding-right: 40px;
	padding-left: 40px;
	margin-bottom: .5em;
	 */
}

#top {
	position: absolute;
	top: 0;
	left: 0;
	width: 700px;
	height: 20px;
}

#page {
	/*margin-bottom: .5em;
	overflow: hidden;
	word-wrap: break-word;*/
	float: left; 
	display: block;
	width: 62%;
	margin: 0;
	text-align: left;
}

#menu {
	float: right;
	display: block;
	width: 38%;
	margin: 0;
	text-align: left;
}

#menu ul {
	display: block;
	list-style-type: disc;
}

#menu a {
	color: #a39c87;
	text-decoration: none; 
}

#menu ul li {
	line-height: 39px;
	height: 39px;
	overflow: hidden;
	border-bottom: 1px solid #d6d1bf; 
	/*background: url(menu-editorial.png) no-repeat top left; 
	list-style: none;
	*/
	padding-left: 7px;
}


#footer {
	margin: 0 -2em;
	clear: both;
	position: relative;
	display: block;
	text-align: center
	/*
	padding: 0;
	line-height: 30px;
	height: 30px;
	margin-top: 3em;
	*/
}
